#abc{
	font-size: 20px;
	font-family: cursive;
}
p{
	color: red;
	font-size: 30px;
	font-family: cursive;
}
div{
	height: 100px;
	width: 100px;
	background-color: blue;
}
*{
	font-size: 30px;
	font-family: cursive;
	color: green;

}
input[type="text"]{
	color: red;
}
input[type="number"]{
	color: blueviolet;
}
a[href]{
	color: violet;
}
a:link{
	color: brown;
}
a:visited{
	 color: darkgreen;
}
a:hover{
	color: red;
	font-size: 50px;
}
a:active{
	color: yellow;
}
div:hover{
    background-color: blue;
    height: 200px;
    width: 200px;
    color: red;	
}